<div class="banner">
  <div class="banner-content">
    <!-- <h1>Découvrez les plaisirs du fait-maison</h1> -->
    <h1>Partagez un moment en cuisine</h1>
    <p>Recevez chaque mois une expérience cuilinaire à partager en famille</p>
    <%= link_to yummyboxes_path do %>
      <button class="btn btn-primary btn-lg">Je m'abonne <i class="fa fa-chevron-right"></i></button>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="intro-subscription-title text-center">
        <span class="vc_sep_holder vc_sep_holder_l"><span style="border-color:#e7f5f5;" class="vc_sep_line"></span></span>
        <h2>Abonnez-vous</h2>
        <span class="vc_sep_holder vc_sep_holder_r"><span style="border-color:#e7f5f5;" class="vc_sep_line"></span></span>
      </div>
      <div class="intro-subscription-subtitle text-center">
        <p>Envie de partager des moments inoubliable en cuisine ? Recevez chaque mois votre YummyBox avec tout le nécessaire pour réaliser avec vos enfants ou amis de délicieuses pâtisseries en vous amusant.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @yummyboxes.each do |yummybox| %>
      <div class="col-md-3">
        <div class="subscription-element">
          <div class="price-box">
            <div class="price-image-card">
              <%= image_tag yummybox.picture.url(:medium), class: "img-responsive center-block" %>
            </div>
            <div class="price-condition text-center">
              <p class="price"><%= humanized_money_with_symbol(yummybox.price) %></p>
            </div>
            <div class="product_desc text-center">
              <p>Résiliable à tout moment</p>
              <p><span>(Livraison vers le 10 du mois)</span></p>
            </div>
            <div class="order-button text-center">
              <button class="btn btn-primary btn-lg">S'abonner</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


