<div class="footer-bg">
  <div class="container">
    <div class="row">
      <div class="footer-content">
        <div class="col-md-4">
          <div class="footer-logo text-center">
            <%= image_tag "site-logo-image-white.png", class: "navbar-wagon-logo" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-social text-center">
            <p>Suivez-nous</p>
            <ul class="list-inline text-center footer-social-icon">
              <li><a href="" class="footer-social-icon-link"><i class="fa fa-facebook"></i></a></li>
              <li><a href="" class="footer-social-icon-link"><i class="fa fa-instagram"></i></a></li>
              <li><a href="" class="footer-social-icon-link"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-links">
            <ul class="list-inline text-center">
              <li>FAQ</li>
              <li>CONTACT</li>
              <li>PRESSE</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="list-inline footer-bottom_links">
        <li>© 2016 - MaYummyBox</li>
        <li><a href="#">Mentions Légales</a></li>
        <li><a href="#">CGV</a></li>
      </ul>
    </div>
  </div>
</div>